* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.car_logo {
    position: relative;
    width: 100px;
    height: 100px;
    margin-left: calc(50% - 50px);
}

.login_body {
    background: #172130;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_container {
    background: white;
    padding: 40px;
    width: 350px;
    border-radius: 10px;
    text-align: center; 
}

.login_container h1 {
    margin-bottom: 5px;
}

.login_container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.login_container button {
    width: 100%;
    padding: 10px;
    background: #2563eb;
    border: none;
    color: white;
    cursor: pointer;
}

.login_container button:hover {
    background: #1750ca;
}

.forgot {
    margin-top: 10px;
    color: gray;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}

/* Dashboard */

.container {
    display: flex;
    height: 100vh;
}

.side_nav {
    width: 220px;
    background: #0f172a;
    padding: 20px;
}

.side_nav a {
    display: block;
    color: white;
    padding: 12px;
    text-decoration: none;
    margin: 5px 0;
    border-radius: 5px;
}

.side_nav a:hover, .side_nav .active {
    background: #2563eb;
}

.logout {
    margin-top: 30px;
    background: #dc2626;
}

.right_side {
    padding: 30px;
    background-color: #f1f5f9;
    flex: auto;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    font-size: 24px;
    font-weight: bold;
}

.form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 20px;
}

.form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btns {
    margin: 20px 0;
}

.btns button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2563eb;
    color: white;
    cursor: pointer;
}

.btns .red {
    background-color: #dc2626;
}

.btns .gray{
    background-color: #64748b;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th {
    padding: 12px;
    background-color: #0f172a;
    color: white;
    text-align: center;
}

td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
}